nav
  .nav-wrapper
    a.brand-logo(href='#') Приложения курсов
    ul#nav-mobile.right.hide-on-med-and-down
      if isHome
        li.active
            a(href='/') Главная
      else
        li
            a(href='/') Главная
      if isCourses
        li.active
            a(href='/courses') Курсы
      else
        li
            a(href='/courses') Курсы
      if isAuth
        if isAdd
          li.active
              a(href='/add') Добавить курс
        else
          li
              a(href='/add') Добавить курс
        if isCard
          li.active.row
              a(href='/card')
                i.material-icons.col shopping_cart
        else
          li.row
              a(href='/card')
                i.material-icons.col shopping_cart
        if isProfile
          li.active.row
              a(href='/profile') Профиль
        else
          li.row
              a(href='/profile') Профиль 
        if isOrder
          li.active
              a(href='/orders') Заказы
        else
          li
              a(href='/orders') Заказы
        li
            a(href='/auth/logout') Выйти
      else
        if isLogin
          li.active
              a(href='/auth/login#login') Войти
        else
          li
              a(href='/auth/login#login') Войти



