extends layout
block container
    h2 Профиль

    .row 
        .col.s6 
            if user.avatar
                img(src='/' + user.avatar).profile-img
            else

                p Аватара нет
        
        .col.s6     
            form(action="/profile/user?_csrf="+ csrf  method="POST" enctype="multipart/form-data")
                p Ваше email:   
                    strong= user.email
                .input-field
                    input#name.validate(name='title' type='text' required='' value= user.name)
                    label(for='name') Ваше имя
                    span.helper-text(data-error='Имя не может быть пустым')
                .file-field.input-field
                    .btn
                        span Аватара 
                        input(type='file'  name='avatar')
                    .file-path-wrapper
                        input.file-path.validate(type='text' value= user.avatar)
                button(type="submit").btn.btn-primary Изменить